@import "../../scss/mixins";
@import '../../scss/variables';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/mixins';

.list {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  a{
    text-decoration: none;
  }
  
  &__item {
    margin-bottom: 0.28rem;

    &.active_item .btn {
      color: $primary;
      border: 1px solid $secondary !important;
      background-color: transparent;
      @include boxShadow(none !important);
    }

    &.active_item_mobile .btn{
      color: white;
      border: 1px solid white;
    }
  }

  &__btn.button {
    font-size: $medium-light;
    padding: 0.7rem 1rem;
    border-color: transparent;
    color: $light;
    margin-bottom: 0.5rem;
    background-color: transparent;
    @include boxShadow(none !important);
    @include transitions(none);
    @include media-breakpoint-down(sm) {
      font-size: 11px;
      font-weight: bold;
    }
    &:hover {
      transform: none;
      border: 1px solid $light;
      background-color: transparent;
    }
  }
  &__btn{
    &____white.button{
    color: white;
    &:hover{
      border: 1px solid white;
    }
  }
}
}