@import "../../scss/mixins";
@import '../../scss/variables';

.list {
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 0.28rem;

    &.active_item .btn {
      color: $secondary;
      border: 1px solid $secondary;
      background-color: transparent;
    }
  }

  &__btn.button {
    border-color: transparent;
    color: $light;
    margin-bottom: 0.28rem;
    background-color: transparent;
    @include boxShadow(none);
    @include transitions(none);

    &:hover {
      transform: none;
      border: 1px solid $light;
      background-color: transparent;
    }
  }
}