@import "../../scss/mixins";
@import "../../scss/variables";



.movieCard {
  border: none;  border-radius: 0.6rem;
  background-color: transparent;
  @include transitions(all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s);

  &:hover {
    background-color: $light;
    color: $text;
    transform: scale(1.02);
    cursor: pointer;

    .icon {
      color: $lighter;
    }
  }

  &__img {
    border-radius: 0.6rem;
    background-color: transparent;
    object-fit: cover;
    @include boxShadow(0rem 2rem 5rem rgba(0, 0, 0, 0.2));

    &:hover {
      border-radius: 0.6rem 0.6rem 0 0;
      @include boxShadow(none);
      background-color: $light;
    }
  }

  &__body {
    padding: 1.07rem 1.78rem;
  }
}