@import '../../scss/variables';

.side-menu {
  border-right: 1px solid $lighter;
  padding: 1.43rem;
  margin-top: 2.85rem;
  position: sticky;
  top: 0;
}

.mobile-menu{
  padding: 0;
  margin-top: 0;
}