@import "../../scss/mixins";
@import "../../scss/variables";

.card-single{
  &__img{
    img.card-img{
      height: 100%;
      border-radius: 0.6rem;
      @include boxShadow(none);
      &:hover{
        border-radius: 0.6rem;
        background-color: transparent;
      }
    }
  }
  
  &__content{
    h1{
      font-family: $light-font;
    }
    h2{
      color: $primary;
    }
    .icon{
      color: black;
    }
    h3{
      color: $lighter;
    }
  }
}
