@import "../../scss/mixins";
@import "../../scss/variables";

.card-single{
  margin: 0px auto 5rem;
  max-width: 120rem;
  width: 100%;

  &__img{
    width: 100%;
    max-width: 40%;
    flex: 1 1 40%;
    padding: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img.card-img{
      max-height: 100%;
      height: auto;
      object-fit: cover;
      max-width: 100%;
      border-radius: 0.6rem;
      @include boxShadow(0rem 1.4rem 3.5rem rgba(0, 0, 0, 0.25));
      &:hover{
        border-radius: 0.6rem;
        background-color: transparent;
      }
    }
  }

  &__content{
    width: 100%;
    max-width: 60%;
    padding: 2.8rem;
    flex: 1 1 60%;
  }

  &__title{
    h1{
      font-family: $light-font;
    }
    h2{
      color: $primary;
    }
  }
  
  &__rate{
    .icon{
      color: black;
      margin-right: 10px;
    }
    h3{
      color: $lighter;
    }
  }
  
  p{
    color: $link;
    font-size: $regular-size;
  }

  &__genres{
    span{
      text-transform: uppercase;
    }
  }

  .buttons-wrapper{
    &__leftBtns{
      .btn{
        margin-right: 20px;
        padding: 0 20px;
        
      }
    }
  }
}
