@import "../../scss/variables";
@import "../../scss/mixins";
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/mixins';

.card-single{
  margin: 0px auto;
  margin-bottom: 3.5rem;
  max-width: 80rem;

  @include media-breakpoint-down(xl) {
    max-width: 90rem;
  }
  @include media-breakpoint-down(lg) {
    max-width: 80rem;
    margin-bottom: 4.3rem;
  }
  @include media-breakpoint-down(md) {
    max-width: 75rem;
    margin-bottom: 3.5rem;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: 3.5rem;
  }
  
  &__img{
    max-width: 40%;
    padding: 2.8rem;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin: 0 auto;
    }
    @include media-breakpoint-down(sm) {
      max-width: 70%;
      margin: 0 auto;
    }
    img.card-img{
      max-height: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.6rem;
      @include boxShadow(0rem 1.4rem 3.5rem rgba(0, 0, 0, 0.25));
      &:hover{
        border-radius: 0.6rem;
        background-color: transparent;
      }
    }
  }

  &__content{
    max-width: 60%;
    padding: 2.8rem;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__title{
    h1{
      font-family: $light-font;
    }
    h2{
      color: $primary;
    }
  }
  
  &__rate{
    .icon{
      color: black;
      margin-right: 10px;
    }
    h3{
      color: $lighter;
    }
  }
  
  p{
    color: $link;
    font-size: $regular-size;
  }

  &__genres{
    span{
      text-transform: uppercase;
    }
  }

  .buttons-wrapper{
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: baseline;
    }
    &__leftBtns{
      .btn{
        margin-right: 20px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 20px;
        }
      }
    }
  }
  
}
