
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/mixins';

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 18rem));
  justify-content: space-evenly;
  align-content: space-between;
  grid-gap: 2.8rem 1.4rem;
  padding: 2.8rem 0;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}

#page-wrap {
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 20px;
  left: 36px;
  top: 36px;
  @include media-breakpoint-down(sm) {
    top: 30px;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 25px !important;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: relative;
  right: 7px;
  @include media-breakpoint-down(sm) {
    right: 15px;
  }
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}