.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 18rem));
  justify-content: space-evenly;
  align-content: space-between;
  grid-gap: 2.8rem 1.4rem;
  padding: 2.8rem 0;
  a{
    &:hover{
      text-decoration: none;
    }
  }
}